#toppage {
	background: {
		image: url(../img/bg.png);
		repeat: no-repeat;
		size: cover;
	}
}

.row_logo {
	text-align: center;
	.logo {
		margin: {
			left: auto;
			right: auto;
		}
		object-fit: contain;
		img {
			width: 100%;
			max-width: 550px;
		}
	}
}
.row_menu {
	.col {
		text-align: center;
		object-fit: contain;
		img {
			width: 100%;
			max-width: 220px;
		}
	}
}

.shoplist {
	.shopimage {
		object-fit: contain;
		img {
			width: 100%;
		}
	}
	.shopname {
		font-size: 1.2em;
	}
}